body{
    background-color: red;
    

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
position: absolute;
padding: 25px;
transition: transform 1s, z-index 1s;
border: 5px outset lightblue;
border-radius: 10px;
background-color: rgb(255, 255, 255);
text-align: center;
width: 200px;
border: none;
box-shadow: -7px 7px 10px black;
}

#box1{


  z-index: 10;
}
    input:checked + #box1{
        transform: scale(0.6);
        z-index: 7;
    }


#box2{
    z-index: 9;
}
 input:checked + #box2{
        transform: scale(0.6);
        z-index: 7;
    }

#box3{
    cursor:default;
    color: black;
    z-index: 8;
    a{
        color: black;
        text-decoration: none;
    }
}

.box:hover{
    transform: scale(1.08);
}
